{% extends "userProfile/base.html" %}

{% load crispy_forms_tags %}
{% block content %}
<div class="container py-5" xmlns="http://www.w3.org/1999/html">
    <div class="media-body">
        <h1 class="account-heading">{{ user.username }}</h1><br><br>
    </div>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">find your friend :)</legend>
            <br><br>

            {% for user in all_users %}
            {% if user not in request.user.profile.get_friends %}
            {% if user.id != request.user.id %}
            <h5>{{user.username}}</h5>
            <p><a href="/account/send_friend_request/{{user.id}}/" class="btn btn-light mt-2 ">send friend
                request</a>
                <a href="/account/profile/{{user.id}}/" class="btn btn-dark mt-2 ">see profile</a>
            <hr>
            <br><br>
            {% endif %}
            {% endif %}
            {% endfor %}
        </fieldset>
        <div class="form-group">
            <a href="/account/homePage" class="btn btn-dark mt-5">back to Home</a>
        </div>
    </form>
    <div style="position:absolute; left:85px; top:142px;">
            <div style="position:relative; left:3px;">
                <a href="/account/homePage/" class="btn btn-light mt-2">Home</a><br>
            </div>
            <a href="/account/myProfile" class="btn btn-dark mt-2">profile</a><br>
            <div style="position:absolute;">
                <a href="/account/friend_request" class="btn btn-light mt-2">find friends</a><br></div>
            <br><br><br><a href="/logout" class="btn btn-dark mt-2">logout</a>

        </div>
</div>
{% endblock content %}
