{% extends "userProfile/base.html" %}
{% block title %}Profile Page{% endblock title %}
{% block content %}

<div class="container py-5">
    <div class="media-body">
        <h1 class="account-heading">{{ user.username }}</h1>
        <p class="text-secondary">{{ user.email }}</p>
    </div>
</div>
<div class="form-content">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="container">
            <div class="col-md-3">
                <legend class="border-bottom mb-4">New Reply</legend>
                <br>
                <label class="small mb-2">Your Reply:</label> {{ form.text }}<br><br>
            </div>
        </div>
        <div class=" container py-5">
            <button type="submit" class="btn btn-light ">Save Reply</button>
            <button type="reset" class="btn btn-dark ">Reset</button>
            <br>
            {%if '/myPost/' in request.META.HTTP_REFERER %}
            <a href="/account/myPost/{{post.id}}" class="btn btn-dark  mt-4">back to post</a>
            {%else%}
            <a href="/account/post/{{post.pUser.profileUser.id}}/{{post.id}}" class="btn btn-dark  mt-4">back to
                post</a>
            {%endif%}
        </div>
    </form>
</div>
{% endblock content %}